TOKEN='在DC後台Bot按ResetToken重新產生'
CLIENT_ID='在DC後台的OAuth2的Client ID'
GUILD_ID='在DC前台對你的伺服器Logo，按右鍵複製ID' #應該要開開發者模式，而且是指定伺服器指令才需要這段
GEMINI_API_KEY='在 aistudio.google.com 申請的 API Key'
GEMINI_MODEL='gemini-2.5-flash'